.header{
    width: 100%;
    height: auto;
    background-color: $transparent;
    z-index: -1;
    
    .header__video{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        opacity: .5;
        background-color: $primary-color;
        .video{
            width: 100%;
        }
    }
}

